.App {
  text-align: center;
  padding: 10px 100px;
}
main {
  display: flex;
  flex-wrap: wrap;
}
.sidebar,
.main_components {
  padding: 100px;
}
.sidebar {
  width: 20%;
}
.main_components {
  min-width: 50%;
}
